body{
   background-color: white;
}
.slide{
   width:100%;
   height:400px;
   overflow: hidden;
}
.slides{
   transition:0.5s;
   display:flex;
}
.slides img{
   width:100%;
   height:400px;
   object-fit: cover;
   flex-shrink: 0; 
}
h1{
   text-align: center;
   color:black;
   font-size:xx-large;
}
h3{
   text-align: center;
   color:black;
   font-size: larger;
}
#container{
   height:100px;
   width:400;
   background-color:black;
   border:2px solid black ;
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 20px;
}
.box1{
   height:2.5rem;
   width:6rem;
   display: flex;
   margin-top:20px;
   margin-left:20px;
   background-size: cover;
   border-radius: 12px;
   border: 2px solid #eb3434;
   color:white;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}
.box1{
   background-image: url("color theory.png");
   text-shadow: #FA8072;
   color:white;
   box-shadow: #eb3434;
   text-decoration-color: azure;
}
.box1:hover:active{
   transform:scale(0.8);
}
.box1:hover{
   transform:scale(1.3);
   transition-duration: 1s;
   background-color:
}
.box2{
   height:2.5rem;
   width:6rem;
   display: flex;
   margin-top:20px;
   margin-left:20px;
   background-size: cover;
   border-radius: 12px;
   border: 2px solid #eb3434;
   color:white;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}
.box2{
   background-image: url("color theory.png");
   text-shadow: #FA8072;
   color:white;
   box-shadow: #eb3434;
   text-decoration-color: azure;
}
.box2:hover:active{
   transform:scale(0.8);
}
.box2:hover{
   transform:scale(1.3);
   transition-duration: 1s;
   background-color:
}
.box4{
   height:2.5rem;
   width:6rem;
   display: flex;
   margin-top:20px;
   margin-left:20px;
   background-size: cover;
   border-radius: 12px;
   border: 2px solid #eb3434;
   color:white;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}
.box4{
   background-image: url("color2.png");
   color:white;
   box-shadow: #eb3434;
   text-decoration-color: azure;
}
.box4:hover:active{
   transform:scale(0.8);
}
.box4:hover{
   transform:scale(1.3);
   transition-duration: 1s;
   background-color:
}
.box3{
   height:2.5rem;
   width:8rem;
   display: flex;
   margin-top:20px;
   margin-left:20px;
   background-size: cover;
   border-radius: 12px;
   border: 2px solid #eb3434;
   color:white;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}
.box3{
   background-image: url("color theory.png");
   color:white;
   box-shadow: #eb3434;
   text-decoration-color: azure;
}
.box3:hover:active{
   transform:scale(0.8);
}
.box3:hover{
   transform:scale(1.3);
   transition-duration: 1s;
   background-color:
}

h1{
   text-align: center;
   font-size: xx-large;
   color:black;
}

.selection1{
   height:100px;
   width:800px;
   display:flex;
   background-color: #E8DCCB;
   border:2px solid black;
   justify-content: space-evenly;
   border-radius: 12px;
   box-shadow:0 0 20px #8B6F47;
   margin:20px auto;
}
.selection1:hover{
   transform: scale(1.03);
   transition-duration: 2s;
}
.opretor2{
   height:50px;
   width:170px;
   background-color: #f7424b;
   margin: 20px;
   border-radius: 10%;
   display:flex;
   justify-content: center;
   align-items:center
}
.opretor2:hover{
   transform: scale(1.1);
   background-color: #eb3434;
   transition-duration: 2s;
   cursor: pointer;
   box-shadow: #D17495;
}
.opretor2:hover:active{
   transform: scale(0.7);
}
.opretor1{
   height:100px;
   width:200px;
}
.opretor1 img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 12px;
}
.bookname1{
   margin-left:5px;
   color:#2C2C2C;
   font-size: 2rem;
}
.description{
   font-size: 1rem;
}
.select1{
   font-size: 1.3rem;
}
.bookname2{
   margin-left:5px;
   color:#2C2C2C;
   font-size: 2rem;
}
.selection2{
   height:100px;
   width:800px;
   display:flex;
   background-color: #E8DCCB;
   border:2px solid black;
   justify-content: space-evenly;
   border-radius: 12px;
   box-shadow:0 0 20px #8B6F47;
   margin:20px auto;
}
.selection2:hover{
   transform: scale(1.03);
   transition-duration: 2s;
}
.selection3{
   height:100px;
   width:800px;
   display:flex;
   background-color: #E8DCCB;
   border:2px solid black;
   justify-content: space-evenly;
   border-radius: 12px;
   box-shadow:0 0 20px #8B6F47;
   margin:20px auto;
}
.selection3:hover{
   transform: scale(1.03);
   transition-duration: 2s;
}
.h4{
   text-align: center;
   font-size: large;
   margin:60px;
}
footer{
   text-align: center;
   font-size: large;
}
.input-box{
   display: flex;
   flex-direction: column;
   height: 300px;
   width:350px;
   background-color: #FFF9F0;
   justify-content: space-evenly;
   gap:5px;
}
.input-box{
   margin:auto;
   margin-top: 80px;
   font-size: medium;
   border-radius: 10px;
   border: 2px solid #D6C3A5;
   box-shadow: 0 10px 25px hsla(0, 69%, 54%, 0.25);
}
.row{
   align-items: center;
   margin:10px;
   display: flex;
}
label{
   font-size: large;
   width:100px;
   color:black;
}
input{
   width:250px;
   padding: 10px;
   font-size: large;
   background-color: #fff9f0;
   border:2px solid #D6C3A5;
   color:black;
   border-radius: 10px;
}
input:focus{
   outline: none;
   border-color:#FF6B6B;
   box-shadow:0 0 10px #FFB3B3;
}
h1,h2,h3,h4{
   color:black;
}
body{
    background-color: #F8F4EE;
}